@tailwind base;
@tailwind components;
@tailwind utilities;

  .history-tl-container{
      font-family: "Roboto",sans-serif;
    width:50%;
    margin:auto;
    display:block;
    position:relative;
  }
  .history-tl-container ul.tl{
      margin:20px 0;
      padding:0;
      display:inline-block;
  
  }
  .history-tl-container ul.tl li{
      list-style: none;
      margin:auto;
      margin-left:200px;
      min-height:50px;
      /*background: rgba(255,255,0,0.1);*/
      border-left:1px dashed #86D6FF;
      padding:0 0 50px 30px;
      position:relative;
  }
  .history-tl-container ul.tl li:last-child{ border-left:0;}
  .history-tl-container ul.tl li::before{
      position: absolute;
      left: -16px;
      top: -5px;
      content: " ";
      border: 8px solid rgba(255, 255, 255, 0.74);
      border-radius: 500%;
      background: #258CC7;
      height: 2rem;
      width: 2rem;
      transition: all 500ms ease-in-out;
  
  }
  .history-tl-container ul.tl li:hover::before{
      border-color:  #258CC7;
      transition: all 1000ms ease-in-out;
  }

  ul.tl li .item-detail{
      color:rgba(0,0,0,0.5);
      font-size:12px;
  }
  ul.tl li .timestamp{
      color: #8D8D8D;
      position: absolute;
    width:100px;
      left: -60%;
      /* text-align: right; */
      font-size: 12px;
  }